.footer {
  background-color: whitesmoke;
  padding: 3rem 1.5rem 6rem;
}

html {
  height: 100%;
}

body {
  position: relative;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Crimson Text", "Georgia", serif;
}

.page-footer {
  position: absolute;
  bottom: 0;
  padding: 1rem;
  width: 100%;
}

.is-centered {
  display: block;
  margin: 0 auto;
}

.is-rounded {
  border-radius: 3%;
}

.hero.is-primary {
  background-color: #FF8C69;
  color: white;
}

/* nav2에만 적용되는 스타일 */
.nav2 {
    background-color: #333; /* 예시 배경색 */
    padding: 10px 0;
    border: 1px solid #ccc;
}

    /* nav2 내부의 메뉴와 링크들에만 스타일을 적용 */
    .nav2 .nav2-menu {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav2 .nav2-item {
        color: #fff;
        margin: 0 15px;
        text-decoration: none;
    }

        .nav2 .nav2-item:hover {
            color: #f0f0f0;
        }

    /* nav2의 toggle 버튼에만 스타일을 적용 */
    .nav2 .nav2-toggle {
        display: block;
        cursor: pointer;
        margin-top: 10px;
    }

        .nav2 .nav2-toggle span {
            display: block;
            width: 25px;
            height: 3px;
            background-color: #fff;
            margin: 4px 0;
        }