---
layout: page
title: Portfolio
permalink: /portfolio/
---


<div class="columns is-multiline">

    {% for item in site.data.portfolio.items %}
    <div class="column is-centered is-two-thirds">
        <div class="card">
            <div class="card-image">
                <figure class="image is-3by2">
                    <img src="{{item.image}}" alt="Image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                    <div class="media-content">
                        <p class="title is-4">{{item.name}}</p>
                        <p class="subtitle is-6"><small>{{item.date_added}}</small></p>
                    </div>
                </div>
                <div class="content">

                    <style>
                        .image.is-96x96.is-centered {
                            padding: 0px; /* 원하는 패딩 값을 설정 */
                        }
        
                        .custom-size {
                            width: 160px; /* 원하는 너비 */
                            height: 160px; /* 원하는 높이 */
                        }
        
                        mark {
                            background-color: rgb(0, 0, 0); /* 원하는 배경색 */
                              color: rgb(255, 255, 255);               /* 텍스트 색상 */
                              border-radius: 5px;         /* 라운드 처리 */
                              padding: 2px 4px;           /* 텍스트와 경계 간 여백 */
                        }
                    </style>

                    <p>{{item.description}}</p>
                    {% for tech in item.technologies %}
                    <span class="tag is-primary">{{tech}}</span> {% endfor %}
                </div>
                <footer class="card-footer">
                    {% if item.gitHubLink %}
                    <a class="card-footer-item" href="{{item.gitHubLink}}" target="_blank"><span>GitHub Link</span></a>
                    {% endif %}
                    {% if item.videoLink %}
                    <a class="card-footer-item" href="{{item.videoLink}}" target="_blank"><span>Project Video Link</span></a>
                    {% endif %}
                    {% if item.companyLink %}
                    <a class="card-footer-item" href="{{item.companyLink}}" target="_blank"><span>Visit Company Homepage</span></a>
                    {% endif %}
                </footer>
            </div>
        </div>
    </div>
    {% endfor %}

</div>