---
layout: page
title: Resume
permalink: /resume/
---

<div class="columns is-multiline">

    <div class="column is-half is-offset-one-quarter">
        <div class="content">

            <style>
                .image.is-96x96.is-centered {
                    padding: 0px; /* 원하는 패딩 값을 설정 */
                }

                .custom-size {
                    width: 160px; /* 원하는 너비 */
                    height: 160px; /* 원하는 높이 */
                }

                mark {
                    background-color: rgb(0, 0, 0); /* 원하는 배경색 */
                      color: rgb(255, 255, 255);               /* 텍스트 색상 */
                      border-radius: 5px;         /* 라운드 처리 */
                      padding: 2px 4px;           /* 텍스트와 경계 간 여백 */
                      line-height: 2;
                }
            </style>
            
            <figure class="image is-centered custom-size">
                <img class="is-rounded" src="/images/profile.jpg">
            </figure>
            
            <br>
            <br>

            <hr>

            {% for Introduce in site.data.resume.Introduce %}
            <p>{{Introduce}}</p>
            <hr>
            {% endfor %}

            {% for section in site.data.resume.BusinessProjects %}
            <section>
                <h2>{{ section.title }}</h2> <!-- Business Projects Title -->
                {% if section.layout == "list" %}
                    <ul>
                        {% for item in section.content %}
                            <li>
                                <h3>{{ item.title }}</h3>
                                <a href="{{ item.link }}" target="_blank">Visit Company Homepage</a>
                                <blockquote>{{ item.quote }}</blockquote>
                                <p class="description">{{ item.description | newline_to_br }}</p>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </section>
            {% endfor %}
        <hr>

        {% for section in site.data.resume.EducationalProjects %}
        <section>
            <h2>{{ section.title }}</h2> <!-- Business Projects Title -->
            {% if section.layout == "list" %}
                <ul>
                    {% for item in section.content %}
                        <li>
                            <h3>{{ item.title }}</h3>

                            {% if item.Gitlink %}
                            <a href="{{ item.Gitlink }}" target="_blank" class="resume-link">GitHub</a>
                            {% endif %}

                            {% if item.ProjectGitlink %}
                              <a href="{{ item.ProjectGitlink }}" target="_blank" class="resume-link">Project GitHub</a>
                            {% endif %}
                        
                            {% if item.Videolink %}
                               <a href="{{ item.Videolink }}" target="_blank" class="resume-link">Project Video</a>
                            {% endif %}
                        
                            <blockquote>{{ item.quote }}</blockquote>
                        
                            {% if item.description %}
                              <p class="description">{{ item.description | newline_to_br }}</p>
                            {% endif %}
                        </li>
                        <br><br>
                    {% endfor %}
                </ul>
            {% endif %}
        </section>
        {% endfor %}
        <hr>

        {% for section in site.data.resume.Experience %}
        <section>
            <h2>{{ section.title }}</h2> <!-- Business Projects Title -->
            {% if section.layout == "list" %}
                <ul>
                    {% for item in section.content %}
                        <li>
                            <h3>{{ item.title }}</h3>
                            <p><strong>{{ item.sub_title }}</strong> | <span>{{ item.caption }}</span></p>
                            <a href="{{ item.link }}" target="_blank">Visit Company Homepage</a>
                            <blockquote>{{ item.quote }}</blockquote>
                            <p class="description">{{ item.description | newline_to_br }}</p>
                        </li>
                        <br><br>
                    {% endfor %}
                </ul>
            {% endif %}
        </section>
        {% endfor %}
        <hr>

        {% for section in site.data.resume.Education %}
        <section>
            <h2>{{ section.title }}</h2>
            {% if section.layout == "list" %}
                <ul>
                    {% for item in section.content %}
                        <li>
                            <h3>{{ item.title }}</h3>
                            <p><strong>{{ item.sub_title }}</strong> | <span>{{ item.caption }}</span></p>
                            <blockquote>{{ item.quote }}</blockquote>
                            <p class="description">{{ item.description | newline_to_br }}</p>
                        </li>
                        <br><br> <!-- 항목 간 간격 추가 -->
                    {% endfor %}
                </ul>
            {% endif %}
        </section>
        {% endfor %}
    <hr>
            
        </div>
    </div>
    
</div>